<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Francisco Fuentes | Alumno </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
    <script
      src="https://kit.fontawesome.com/836a943e18.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="nav-brand">
            <a href="index.html">
            </a>
          </div>
          <div class="burger-menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#landing-page">
                <img src="/static/images/fotografia.jpg"
                  alt="Francisco Fuentes"
                />
                <span class="caption nav-link">Francisco Fuentes</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">Conóceme</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">Registro Académico</a>
            </li>
            <li class="nav-item">
              <a href="#projects" class="nav-link">Actividades</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contáctame</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link">
              </a>
              <a href="#" target="_blank" class="nav-link">
              </a>
              <a href="#" target="_blank" class="nav-link">
              </a>
            </li>
            <div class="cta">
              
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="landing-page" class="landing-page">
        <div class="container">
          <div class="main-message">
            <h2> Francisco Fuentes </h2>
            <h3>{Futuro Ingeniero}</h3>
            <p> Responsable . Calidad . Perseverante</p>
            <div class="intro-btn">
              <div class="cta">
                <a href="#about" class="btn">Conóceme</a>
              </div>
              <div class="cta">
                <a href="#contact" class="btn">Contáctame</a>
              </div>
            </div>
            <div>
              <a href="#about" class="scroll-down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="container">
          <div class="about-img">
            <img src="/static/images/fotografia.jpg"
              alt="Francisco Fuentes"
              width = 300px
              height = 300px
            />
          </div>
          <div class="about-text-box">
            <h2>Hola</h2>
            <p>
              Soy Francisco Fuentes, tengo 20 años y actualmente curso tercer año de Ingeniería en Negocios en la ESEN. Desde pequeño me veo en el futuro como una persona de negocios, pero en el camino
              me dí cuenta que amo aprender sobre la física y así entender mejor el mundo.
            </p>

            <p>
              Ahora en día, busco un futuro en el cual pueda relacionar ambas versiones de mí mismo, pero mientras tanto,
              profundizaré mucho más mi conocimiento sobre los negocios y la ingeniería.
            </p>
            
        
          </div>
        </div>
        <hr />
      </section>
      <section id="services" class="services">
        <div class="container">
          <div class="title-heading">
            <h2>Mi registro académico</h2>
            <p>
              Estos son mis logros acádemicos más significativos 
            </p>
          </div>
          <div class="service-tiers">
            <div class="tier-item">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h2>Bachillerato General</h2>
              <p>
                En 2019, me gradué de Colegio Lamatepec, un colegio Católico y Bilingüe. En esta etapa forjé dos cualidades que me diferencian: 
                <br> </br>
                <p> - Siempre hacer bien las cosas, cueste lo que cueste. </p>
                <p> - Reconocer y trabajar siempre por mis responsabilidades. </p>
                
                <br> </br>

              </p>
            </div>
            <div class="tier-item">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <h2>Bachillerato Internacional (IB) </h2>
              <p> 
                En 2019 aprobé los requerimientos internacionales del IB, a través de la investigación y estudio
                en las materias: 
                <br> </br>
                <ul>
                <li style="font-size:17px"> - Lengua y Literatura (inglés y español) </li>
                <li style="font-size:17px"> - Matemática: Superior </li>
                <li style="font-size:17px"> - Biología </li>
                <li style="font-size:17px"> - Historia </li>
                <li style="font-size:17px"> - Business Management </li> 
                <li style="font-size:17px"> - Theory of Knowledge </li> 
                </ul>



              </p>
            </div>
          </div>
    
        </div>
        <hr />
      </section>


      <section id="projects" class="projects">
        <div class="title-heading">
          <h2> Actividades notables</h2>
          <p> Estas son algunas de mis actividades extracurriculares más valiosas</p>
        </div>
        <div class="project-item">
          <div class="project-img has-margin-right">
            <img src="static/images/moass.jpg"  width="10" height="10">
          </div>
          <div class="project-description">
            <h2>Model of the Organization of American States (MOAS) </h2>
            <p>
              En 2018, viajé a Washington D.C. para participar en el Modelo de OEA. Por tres días, representé a Paraguay en un comité internacional
              de estudiantes para discutir sobre cómo afrontar la Desigualdad de Géneros en América. Para eso, hubo sesiones de discusión para después formar 
              "working groups" y presentar propuestas tangibles para erradicar el problema. Seguido de eso, estas propuestas debían ser defendidas y aprobadas
              ante el comité interacional de estudiantes. En esta oportunidad aprendí sobre la diplomacia y el debate en las relaciones internacionales, pero así 
              también logré defender exitosamente mis ideas en público y en el idioma Inglés.
            </p>
          </div>
        </div>

        <div class="project-item">
          <div class="project-description has-margin-right">
            <h2> Apoyo a mis padres </h2>
            <p>
              Desde los 13 años empecé a apoyar a mis padres en el negocio familiar. Y mediante crecía, fui aprendiendo sobre las responsabilidades del trabajo,
              sobre el respeto, el trabajo en equipo y el sacrificio, pero aún más importante, sobre el buen servcio. A partir de pequeñas responsabilidades logré aprender sobre 
              negocio, y ahora en día, soy capaz de estar responsable del negocio mientras mis padres no están.  
            </p>

    
            <a href="#" class="project-link" target="_blank"
              ><i class="fa fa-github" aria-hidden="true"> </i></a
            >
          </div>

        </div>

      
        <hr />
      </section>
      <section id="contact" class="contact">
        <h2>Contáctame</h2>
        <p>
          Si deseas comunicarte conmigo, puedes escribirme por los siguientes medios. Con gusto respondere tus preguntas y/o comentarios.
        </p>
       
        <div class="container">
          <p>
            <a href="mailto:alejandrofr15@gmail.com" 
              ><i class="fas fa-envelope-open"></i> Correo: alejandrofr15@gmail.com</a
            >
          </p>
          <p>
            <a href="https://www.facebook.com/profile.php?id=100013734557253" 
              ><i class="fab fa-facebook"> Facebook: Francisco Fuentes</i></a
            >
          </p>        
         
        </div>
        <hr />
      </section>
      <footer>
        <div class="footer-nav">
          <a href="#landing-page" class="footer-nav-link">Home</a>
          <a href="#about" class="footer-nav-link">Sobre mí</a>
          <a href="#services" class="footer-nav-link">Registro Académico</a>
          <a href="projects" class="footer-nav-link">Actividades</a>
          <a href="#contact" class="footer-nav-link">Contáctame</a>
        </div>
        <div class="footer-coded-by">
          <p> por Francisco Fuentes &copy; 2021 </p>
          <p>Built with pure HTML, CSS and JavaScript</p>
        </div>

      </footer>
    </main>
    <script src="static/main.js"></script>
  </body>
</html>